<html>
  <head>
    <title>Wiki Discussion</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="convo.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
    <style>
    img {
      max-width: 800px;
      max-height: 800px;
    }
    </style>
  </head>
  <body>
    <div class="row text-center">
      <div class="col-4-md col-md-4-offset pics" id="slideshow">
        <% for(var i=0; i < info.length; i++) {%>
          <%= info.topics.topictitle %>

        <% } %>

      </div>
    </div>
  </body>
</html>
